.cartBox{
    display: flex;
}
.shop{
    margin-top: 17px;
    position: relative;
    right: 17px;
}
.Cartreview{
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-left: 20%;
}