.cartBox{
    display: flex;
}
.shop{
    margin-top: 17px;
    position: relative;
    right: 17px;
}
.Cartreview{
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-left: 3%;
    display: flex;
}
.mainRev{
    display: flex;
}
.reviewCart{
    display: flex;
}
.left-cart{
    border-right: 1px solid lightgray;
    width: 70%;
}
.right-cart{
    border-left: 1px solid lightgray;
    width: 30%;
}