.iPhone{
    text-align: center;
}
.iPhone nav{
    background-color: black;
    line-height: 40px;
}
.iPhone nav a{
    text-decoration: none;
    font-size:1.2rem;
    margin-right: 30px;
    padding: 5px;
    color: #fff;
}
.iPhone nav a:hover{
    background-color: grey;
}
.imgiPhone{
    height: 80px;
}